## [X in MOTOR0] - B Motor
## [Y in MOTOR1] - A Motor
## [Z0 Stepper in MOTOR2_1] - Front Left 
## [Z1 Stepper in MOTOR3] - Rear Left
## [Z2 Stepper in MOTOR4] - Rear Right
## [Z3 Stepper in MOTOR5] - Front Right
## [E in MOTOR6] - Extruder

#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
##	Connected to MOTOR0 (B Motor)
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PG6
position_min: 0
position_endstop: 605
position_max: 605
homing_speed: 50   #Max 100
homing_retract_dist: 5
homing_positive_dir: true


[stepper_y]
##	Connected to MOTOR1 (A Motor)
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PG9
position_min: 0
position_endstop: 0
position_max: 610
homing_speed: 50  #Max 100
homing_retract_dist: 5
homing_positive_dir: false

#####################################################################
#   Z Stepper Settings
#####################################################################

## In MOTOR2_1 Position
## Z0 Stepper - Front Left
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
##  In Z- Position
endstop_pin: PG10
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_endstop: -0.03
position_max: 250
position_min: -10
homing_speed: 10
second_homing_speed: 3
homing_retract_dist: 3

##	In MOTOR3 Position
##	Z1 Stepper - Rear Left
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	In MOTOR4 Position
##	Z2 Stepper - Rear Right
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	In MOTOR5 Position
##	Z3 Stepper - Front Right
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32