#####################################################################
#	Probe
#####################################################################

[probe]
##	This probe is not used for Z height, only Quad Gantry Leveling
##	In Z+ position
##	If your probe is NO instead of NC, change pin to ^!PA3
pin: ^PA3
x_offset: 0
y_offset: 19.75
z_offset: 6.27
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

[bed_mesh]
speed: 120
horizontal_move_z: 15
mesh_min: 50, 50
mesh_max: 589, 540
probe_count: 6, 6
mesh_pps: 2, 3
algorithm: bicubic
bicubic_tension: 0.2